/* 

colors:
homepage blue - #002855
light blue - #005EB8
orange - #faa61a

*/

body {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-weight: 400;
	font-size: 24px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 0;
}

.header-nav {
	background-color: #002855;
	position: relative;

}

.header-nav h1 {
	position: relative;
	margin: 10px 25px;
	float: left;
}

.nav-logo img {
	margin: 10px;
	height: 37px;
	width: 145px;
	float: left;
}

.user-manage {
	font-size: 12px;
	color: white;
	right: 0;
	top: 0;
	position: absolute;
	display: inline-block;
	margin: 10px;
}

.user-name, #login-logout {
	float: right;
	padding: 10px 5px;
}

.user-name {
	color: #faa61a;
	font-weight: bold;
}

.clear {
	clear: both;
}

.main-nav {
	width: 250px;
	background-color: #002855;
	position: absolute;
	bottom: 0;
	top: 57px;
	left: -230px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

ul {
	list-style: none;
}

.basic-nav {
	margin: 0;
	padding: 0;
	z-index: 5;
}

.basic-nav li a {
	color: white;
	text-decoration: none;
}

.basic-nav li {
	color: white;
	text-transform: uppercase;
	border-bottom: 1px solid white;
	padding-left: 15px;
	padding-right: 15px;
	height: 100px;
	line-height: 100px;
}

.basic-nav li:first-child {
	border-top: 1px solid white;
}

.sub-navi {
	margin:0;
	padding:0;
	position: absolute;
	top:0;
	left:250px;
	background-color: #37393b;
	width: 250px;
	height: 100%;
	display: none;
	z-index: 0;
}

.sub-navi li {
	border:0px;
	height: 60px;
	line-height: 60px;
}

.sub-navi li:first-child{
	border-top: 1px solid white;
}