/* 

colors:
homepage blue - #002855
light blue - #005EB8
orange - #faa61a

*/

body {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-weight: 400;
	font-size: 24px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 0;
}

textarea {
	resize: none;
}

.header-nav {
	background-color: #002855;
	position: relative;
}

.header-nav h1 {
	position: relative;
	margin: 10px 25px;
	float: left;
}

.nav-logo img {
	margin: 10px;
	height: 37px;
	width: 145px;
	float: left;
}

.user-manage {
	font-size: 12px;
	color: white;
	right: 0;
	top: 0;
	position: absolute;
	display: inline-block;
	margin: 10px;
}

.user-name, #login-logout {
	float: right;
	padding: 10px 5px;
}

.user-name {
	color: #faa61a;
	font-weight: bold;
}

.clear {
	clear: both;
}

.main-nav {
	width: 20%;
	background-color: #002855;
	position: absolute;
	bottom: 0;
	top: 57px;
	left: -25%;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.basic-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.basic-nav li {
	color: white;
	text-transform: uppercase;
	border-bottom: 1px solid white;
	padding-left: 20px;
	padding-right: 20px;
	height: 50px;
	line-height: 50px;
}

.container {
	background-color: #e9e9e9;
	float: right;
	position: absolute;
	height: 75%;
	margin: 50px 500px; 
}

.container h1 {
	color: #1A1A1A;
	margin: 15px;
}

.container form {
	margin: 15px;
}

.edit {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
}